{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF Chat Bot</title>
    <link rel="stylesheet" href="{% static 'pdf_app/pdf.css' %}">
</head>
<body>
    <h1>PDF Chat Bot</h1>
    
    <!-- File Upload Form -->
    <form id="fileUploadForm" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="fileInput" name="file" accept=".pdf" required>
        <button type="submit">Upload PDF</button>
    </form>
    
    <div id="pdf_content">
        <div id="pdf"></div>
        <div style="margin: 3rem auto; width: 16rem">
            <textarea
                rows="5"
                id="pdf_text"
                style="border: 1px solid #cbd5e0; padding: 0.5rem; width: 100%"
                placeholder="Shift + Enter for a new line"
            ></textarea>
        </div>
        <!-- <button id="sendpdfMessage">Send</button> -->

        <a href="http://127.0.0.1:8000/d/">DOWNLOAD AS PDF</a>
    </div>

    <!-- Chat Interface -->
    <div id="chatContainer">
        <div id="chatMessages"></div>
        <input type="text" id="messageInput" placeholder="Ask a question...">
        <button id="sendMessage">Send</button>
    </div>

    <!-- JavaScript -->
    <script src="{% static 'pdf_app/pdf.js' %}"></script>
</body>
</html>
