* {
    margin: 0;
    padding: 0;
  }

  .container_11{
    position: relative;

    background-image :url("new_home.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;




    width: 100%;
    height: 100vh;
  }

  .header_1{
    margin-right: 100px;
  }

  .list_item{
    margin-right: 30px;
    height: 50px;
    width:130px;
    background: #F8D49A;
    border-radius: 20px;
    font-weight: bold;
    align-items: center;
    text-align: center;

  }
  .chat_here{
     margin-left: 30px;
    height: 30px;
    width:70px;
    border-radius: 20%;
    align-items: center;
    text-align: center;
    position: relative;
    top: 35px;
    font-weight: bolder;
    font-size: 30px;
    font-family: sans-serif;
    color: #F8D49A !important;

  }
  a{
    position: relative;
    top: 7px;
    font-size: 25px;
  }

