* {
    margin: 0;
    padding: 0;
  }

  .container_11{
    background-image :url("home.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
    

    
    width: 100%;
    height: 100vh;
  }

  .header_1{
    margin-right: 100px;
  }

  .list_item{
    margin-right: 30px;
    height: 50px;
    width:130px;
    background: #F8D49A;
    border-radius: 20px;
    font-weight: bold;
    align-items: center;
    text-align: center;

  }
  .chat_here{
     margin-left: 30px;
    height: 30px;
    width:70px;
    border-radius: 20%;
    align-items: center;
    text-align: center;
    position: relative;
    top: 35px;
    font-weight: bolder;
    font-size: 30px;
    font-family: sans-serif;
    color: #F8D49A !important;

  }
  a{
    position: relative;
    top: 7px;
    font-size: 25px;
  }

  
  
/*   
  .v11_2 {
    width: 100%;
    height: 1024px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_7 {
    width: 100%;
    height: 1024px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_11 {
    width: 231px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 54px;
    left: 95px;
    font-size: 27px;
    opacity: 1;
    text-align: center;
    font-family: 'Roboto';
  }
  .v2_22 {
    width: 130px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 45px;
    left: 1230px;
    overflow: hidden;
  }
  .v2_23 {
    width: 130px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v2_24 {
    width: 130px;
    height: 50px;
    background: rgba(40,37,37,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v2_25 {
    width: 73px;
    color: rgba(253,250,250,1);
    position: absolute;
    top: 10px;
    left: 28px;
    font-family: Roboto Mono;
    font-weight: Medium;
    font-size: 25px;
    opacity: 1;
    text-align: center;
  }
  .v2_32 {
    width: 130px;
    height: 50px;
    background: rgba(40,37,37,1);
    opacity: 1;
    position: absolute;
    top: 45px;
    left: 1060px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v2_33 {
    width: 73px;
    color: rgba(253,250,250,1);
    position: absolute;
    top: 55px;
    left: 1088px;
    font-family: Roboto Mono;
    font-weight: Medium;
    font-size: 25px;
    opacity: 1;
    text-align: center;
  }
  .v2_36 {
    width: 130px;
    height: 50px;
    background: rgba(40,37,37,1);
    opacity: 1;
    position: absolute;
    top: 45px;
    left: 890px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v2_37 {
    width: 73px;
    color: rgba(253,250,250,1);
    position: absolute;
    top: 55px;
    left: 918px;
    font-family: Roboto Mono;
    font-weight: Medium;
    font-size: 25px;
    opacity: 1;
    text-align: center;
  }
  .v2_40 {
    width: 130px;
    height: 50px;
    background: rgba(40,37,37,1);
    opacity: 1;
    position: absolute;
    top: 47px;
    left: 720px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v2_41 {
    width: 46px;
    color: rgba(253,250,250,1);
    position: absolute;
    top: 57px;
    left: 761px;
    font-family: Roboto Mono;
    font-weight: Medium;
    font-size: 25px;
    opacity: 1;
    text-align: center;
  }
  .v2_46 {
    width: 430px;
    height: 580px;
    background: rgba(197,37,37,0.20000000298023224);
    opacity: 1;
    position: absolute;
    top: 180px;
    left: 930px;
    border-top-left-radius: 83px;
    border-top-right-radius: 83px;
    border-bottom-left-radius: 83px;
    border-bottom-right-radius: 83px;
    overflow: hidden;
  }
  .v2_45 {
    width: 900px;
    height: 380px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 290px;
    left: 80px;
    overflow: hidden;
  }
  .v2_44 {
    width: 900px;
    height: 380px;
    background: rgba(197,37,37,0.75);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 29px;
    border-top-right-radius: 29px;
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
    overflow: hidden;
  }
  .v2_42 {
    width: 886px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 34px;
    left: 5px;
    font-family: Jacques Francois;
    font-weight: Regular;
    font-size: 59px;
    opacity: 1;
    text-align: center;
  }
  .v4_62 {
    width: 290px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 240px;
    left: 990px;
    font-family: Jacques Francois;
    font-weight: Regular;
    font-size: 100px;
    opacity: 1;
    text-align: center;
  }
  .v3_57 {
    width: 235px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 519px;
    left: 1008px;
    overflow: hidden;
  } */
  
  
 
  
  
  